aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
asgiref==3.9.1
attrs==25.3.0
black==25.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
coverage==7.9.2
dj-database-url==3.0.1
Django==5.2.4
flake8==7.3.0
frozenlist==1.7.0
idna==3.10
iniconfig==2.1.0
mccabe==0.7.0
multidict==6.6.3
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
propcache==0.3.2
psycopg2-binary==2.9.10
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.1
pytest-django==4.11.1
python-decouple==3.8
requests==2.32.4
setuptools==80.9.0
sqlparse==0.5.3
urllib3==2.5.0
yarl==1.20.1
