{% for transaction in transactions %}
<tr>
    <td>{{ transaction.transaction_code }}</td>
    <td>{{ transaction.transaction_date|date:"m/d/Y g:i" }}</td>
    <td>{{ transaction.type|capfirst }}</td>
    <td class="fw-medium {% if transaction.type == 'expense' %}text-danger{% else %}text-success{% endif %}">
        {% if transaction.type == 'deposit' %}+{% else %}-{% endif %}{{ transaction.amount|floatformat:2 }}
    </td>
    <td class="fw-medium">
        ${{ transaction.running_balance|floatformat:2 }}
    </td>
    <td class="fw-medium">
        edit/delete
    </td>
</tr>
{% endfor %}

<!-- Load More Button -->
{% if has_more %}
<tr id="load-more-row">
    <td colspan="6" class="py-3">
        <a
            href="#"
            hx-get="/load-more-transactions/?page={{ next_page }}"
            hx-target="#transaction-tbody"
            hx-swap="beforeend"
            hx-on:click="this.closest('tr').remove()">
            Load More Transactions
        </a>
    </td>
</tr>
{% endif %}